body {
    background: #0073B1;
    font-family: Arial, Helvetica, sans-serif;
}

#unlink {
    background: url(bg_unlink.png) left top no-repeat;
    width: 970px;
    height: 869px;
    margin: 0 auto;
    position: relative;
}

#content {
    background: #fff;
    width: 508px;
    position: absolute;
    left: 115px;
    bottom: 163px;
    padding-top: 24px;
    -moz-box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#logo {
    background: url(img_unlinked_logo.png) left top no-repeat;
    width: 178px;
    height: 45px;
    text-indent: -12345px;
    overflow: hidden;
    float: left;
    margin-left: 24px;
    padding-bottom: 10px;
}

#login {
    float: right;
    width: 167px;
    padding-top: 16px;
}

#progress-area {
    clear: both;
    height: 67px;
    background: url(bg_progress.png) left top repeat-x;
    position: relative;
}

#progress-area .step-1,
#progress-area .step-2,
#progress-area .step-3 {
    display: none;
    padding: 0 24px;
}

#progress-area.step-1 .step-1,
#progress-area.step-2 .step-2,
#progress-area.step-3 .step-3 {
    display: block;
}

#explanation {
    padding: 24px;
    font-size: 14px;
}

/**
 * Individual Progress Areas
 */

/* STEP 1 */
#sign-in-text {
    background: url(text_signin.png) left top no-repeat;
    width: 260px;
    height: 24px;
    text-indent: -12345px;
    overflow: hidden;
    position: absolute;
    top: 30px;
}

#arrow-up {
    background: url(img_arrow_up.png) left top no-repeat;
    width: 118px;
    height: 64px;
    overflow: hidden;
    position: absolute;
    top: -12px;
    right: 110px;
}

/* STEP 2 */
#progress-container {
    width: 220px;
    height: 19px;
    overflow: hidden;
    position: absolute;
    top: 30px;
}

#progress-bar img, #progress-mask, #progress-text {
    position: absolute;
}

#progress-mask {
    background: #fff;
    width: 208px;
    right: 6px;
    height: 13px;
    top: 3px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#progress-text {
    font-size: 14px;
    top: 33px;
    left: 252px;
    color: #0073B1;
}